<% content_for :title, "Editing category" %>

<h1><%= t('app.edit.title', model: Category.model_name.human) %></h1>

<%= render "form", category: @category %>

<br>

<div>
  <%= link_to "Back to categories", categories_path, class:"text-decoration-none" %>
</div>
